<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>RCluster applications</Name>
    <Version>1.0.0</Version>
    <Title>RCluster applications installer</Title>
    <Publisher>rcluster@rcluster.com</Publisher>
    <StartMenuDir>RCluster</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/rcluster</TargetDir>
</Installer>
