<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>RBarometer applications</Name>
    <Version>1.0.0</Version>
    <Title>RBarometer applications installer</Title>
    <Publisher>info@neurotrend.ru</Publisher>
    <StartMenuDir>RBarometer</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/rbarometer</TargetDir>
</Installer>
